@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Senior Exhibition</h1>
    <h2 class="display-6">Content and Progress Management</h2>
</div>
<br /><br />
<section class="col-sm-8">
    <h3 class="display-6">How to Use This Website</h3>
    <p>
        The <em>Senior Exhibition Content and Progress Management</em> site provides a central repository for all things relating to your Senior Exhibition. 
        Here, you will find links that explain the basic requirements for the Senior Exhibition, the requirements for an Honors diploma, a repository for you 
        to upload all of your work, and a central place for communication with your content advisor and board members.<br /><br />
        The Senior Exhibition is a big undertaking with a lot of different components and stakeholders. Bookmark this site on your computer and phone so that 
        you have quick access to everything you need to stay on top of it!
    </p>
    
</section>
