@page
@model SeniorTracker.Pages.InfoModel
@{
    ViewData["Title"] = "General Info";
}

<div class="text-center">
    <h1 class="display-4">Senior Exhibition</h1>
    <h2 class="display-6">General Information</h2>
</div>
<br />
<br />
<section>
    <h3 class="display-6">Senior Exhibition Overview</h3>
    <p class="col-sm-8">
        In their senior year, each student at The New School will, with the help of their content advisor,
        design their own curriculum of work and study that encompasses the Senior Exhibition.<br /><br />
        This curriculum is formalized in a <em>Proposal</em>. The Proposal is developed primarily by the student,
        with feedback from the content advisor. A good Proposal will demonstrate that the Senior Exhibition will
        meet all requirements, and that the underlying work and research to produce the exhibition is sufficient to
        achieve the level of sophistication, creativity, polish, and expertise expected of our graduates.<br /><br />
        The requirements of the Senior Exhibition are:
    </p>
    <ul class="col-sm-8">
        <li>A <em>course of work worth a quarter credit</em> in an academic field (think: roughly equivalent to a morning module)</li>
        <li>A <em>written component</em> that is appropriate to the field of the exhibition and significantly supplements the final presentation</li>
        <li>An <em>hour-long presentation</em> anchored to an <i>essential question</i> that engages the audience in the work the senior has done</li>
    </ul>
</section>